â€” æœ¬æ¬¡å­¦ä¹ ç¬”è®°ä¸ºä¹‹å‰è¯¾ç¨‹çš„æ€»ç»“ï¼ŒåŒ…æ‹¬3ä¸ªç»ƒä¹ é¢˜ã€‚å¯ä»¥ç»¼åˆè€ƒå¯Ÿå‰æœŸçš„å­¦ä¹ æ•ˆæœ

## ã€ä»»åŠ¡ä¸€ã€‘ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§

ã€é¢˜ç›®æè¿°ã€‘ä¸€ä¸ªä¼ä¸šçš„äº§ä¸šæ”¶å…¥å¤šæ ·æ€§å¯ä»¥ä»¿ç…§ä¿¡æ¯ç†µçš„æ¦‚å¿µæ¥å®šä¹‰æ”¶å…¥ç†µæŒ‡æ ‡ï¼š

 - I=âˆ’âˆ‘ip(xi)log(p(xi))å…¶ä¸­ p(xi)æ˜¯ä¼ä¸šè¯¥å¹´æŸäº§ä¸šæ”¶å…¥é¢å è¯¥å¹´æ‰€æœ‰äº§ä¸šæ€»æ”¶å…¥çš„æ¯”é‡ã€‚
 - åœ¨company.csvä¸­å­˜æœ‰éœ€è¦è®¡ç®—çš„ä¼ä¸šå’Œå¹´ä»½ï¼Œåœ¨company_data.csvä¸­å­˜æœ‰ä¼ä¸šã€å„ç±»æ”¶å…¥é¢å’Œæ”¶å…¥å¹´ä»½çš„ä¿¡æ¯ã€‚
 - ç°è¯·åˆ©ç”¨åä¸€å¼ è¡¨ä¸­çš„æ•°æ®ï¼Œåœ¨å‰ä¸€å¼ è¡¨ä¸­å¢åŠ ä¸€åˆ—è¡¨ç¤ºè¯¥å…¬å¸è¯¥å¹´ä»½çš„æ”¶å…¥ç†µæŒ‡æ ‡ Iã€‚

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# ä¿¡æ¯æŸ¥çœ‹
df1 = pd.read_csv('company.csv')
df1.head(7)

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015
5  #000426  2016
6  #000426  2017

In [3]:
print(df1.shape)
df1['è¯åˆ¸ä»£ç '].nunique()

(1048, 2)

253

 - å…±æœ‰1048è¡Œæ•°æ®ï¼Œå…¬å¸æ•°ç›®ä¸º253ä¸ªï¼Œè¯´æ˜ä¸€ä¸ªå…¬å¸å¯¹åº”å¥½å‡ ä¸ªå¹´ä»½
 - ä¸‹é¢éœ€è¦æŒ‰ç…§å…¬å¸-å¹´ä»½è¿›è¡Œç»Ÿè®¡

In [4]:
df2 = pd.read_csv('company_data.csv')
df2.head(10)

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08
5     1  2008/12/31     6  2.062714e+09
6     1  2008/12/31     7 -3.070010e+08
7     1  2008/12/31     8  9.605849e+09
8     1  2008/12/31     9 -8.697750e+08
9     1  2008/12/31    10  9.174519e+09

 ### - å…¬å¸ä¿¡æ¯æ•°æ®éœ€è¦å¤„ç†ï¼š
 1. éœ€è¦å°†è¯åˆ¸ä»£ç å‰é¢è¡¥0å¤Ÿ6ä½ååŠ â€˜#â€œå·ï¼Œå’Œè¡¨ä¸€ä¸­çš„å¯¹åº”
 2. æ”¶å…¥é¢æœ‰è´Ÿæ•°ï¼ŒæŠŠç›´æ¥æœ‰è´Ÿæ•°çš„è¡Œå»é™¤åå‚æ•°ç»Ÿè®¡
 3. df2ä¸­çš„æ—¥æœŸå–å‰4ä½ï¼Œå˜æˆå’Œdf1ä¸€è‡´

In [5]:
print('æ•°æ®å¤„ç†å‰ï¼Œå…±æœ‰{}è¡Œ'.format(df2.shape[0]))

æ•°æ®å¤„ç†å‰ï¼Œå…±æœ‰964022è¡Œ

In [6]:
df2_new = df2[df2['æ”¶å…¥é¢'] > 0]
df2_new['è¯åˆ¸ä»£ç '] = df2_new['è¯åˆ¸ä»£ç '].apply(lambda x: '#' + str(x).zfill(6))
df2_new['æ—¥æœŸ'] = df2['æ—¥æœŸ'].str[:4].astype('int64')
print('å°†åŒ…å«è´Ÿæ•°çš„è¡Œåˆ é™¤åï¼Œå…±æœ‰{}è¡Œ'.format(df2_new.shape[0]))
df2_new.head(10)

å°†åŒ…å«è´Ÿæ•°çš„è¡Œåˆ é™¤åï¼Œå…±æœ‰894959è¡Œ

       è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0   #000001  2008     1  1.084218e+10
1   #000001  2008     2  1.259789e+10
2   #000001  2008     3  1.451312e+10
3   #000001  2008     4  1.063843e+09
4   #000001  2008     5  8.513880e+08
5   #000001  2008     6  2.062714e+09
7   #000001  2008     8  9.605849e+09
9   #000001  2008    10  9.174519e+09
10  #000001  2008    11  1.080750e+10
11  #000001  2008    12  5.207130e+08

In [7]:
# è¿æ¥df1.df2_new,
res = pd.merge(df1, df2_new, on=['è¯åˆ¸ä»£ç ','æ—¥æœŸ'], how = 'left')
res.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹          æ”¶å…¥é¢
0  #000007  2014   1.0  61461724.73
1  #000007  2014   3.0  61461724.73
2  #000007  2014   4.0  98631112.52
3  #000007  2014   5.0  80000000.00
4  #000007  2014   6.0  18631112.52

In [8]:
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48861 entries, 0 to 48860
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   è¯åˆ¸ä»£ç     48861 non-null  object
 1   æ—¥æœŸ      48861 non-null  int64
 2   æ”¶å…¥ç±»å‹    48768 non-null  float64
 3   æ”¶å…¥é¢     48768 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB

In [9]:
# å®šä¹‰ä¸€ä¸ªå‡½æ•°è®¡ç®—æ”¶å…¥ç†µ
def incoming_entropy(incoming):
    entropy = incoming/incoming.sum()
    return -(entropy*np.log2(entropy)).sum()

In [10]:
solution = res.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ”¶å…¥é¢'].apply(incoming_entropy).reset_index()
solution.head(10)

      è¯åˆ¸ä»£ç     æ—¥æœŸ       æ”¶å…¥é¢
0  #000007  2014  4.429740
1  #000403  2015  4.025963
2  #000408  2016  4.066295
3  #000408  2017 -0.000000
4  #000426  2015  4.449655
5  #000426  2016  4.312071
6  #000426  2017 -0.000000
7  #000511  2012  4.506593
8  #000511  2013  4.503640
9  #000571  2014  4.124640

In [17]:
solution.rename({'æ”¶å…¥é¢' : 'æ”¶å…¥ç†µ'}, axis = 1).to_csv('company_entropy.csv', index = False)

In [18]:
# è¯»å–ï¼ŒæŸ¥çœ‹æ˜¯å¦å†™å…¥æˆåŠŸ
company = pd.read_csv('company_entropy.csv')
company.head(3)

      è¯åˆ¸ä»£ç     æ—¥æœŸ       æ”¶å…¥ç†µ
0  #000007  2014  4.429740
1  #000403  2015  4.025963
2  #000408  2016  4.066295

## æ€»ç»“ï¼š
1. é‡ç‚¹è€ƒå¯Ÿäº†mergeå’Œgroupbyçš„çŸ¥è¯†ç‚¹
2. å¦å¤–éœ€è¦å¯¹æ•°æ®è¿›è¡Œé¢„å¤„ç†ï¼Œå¥½åœ¨éƒ½æ¯”è¾ƒç®€å•

## ã€ä»»åŠ¡äºŒã€‘ç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢

ã€é¢˜ç›®æè¿°ã€‘è¯·æŠŠç»„é˜Ÿå­¦ä¹ çš„é˜Ÿä¼ä¿¡æ¯è¡¨å˜æ¢ä¸ºå¦‚ä¸‹å½¢æ€ï¼Œå…¶ä¸­â€œæ˜¯å¦é˜Ÿé•¿â€ä¸€åˆ—å–1è¡¨ç¤ºé˜Ÿé•¿ï¼Œå¦åˆ™ä¸º0
	æ˜¯å¦é˜Ÿé•¿	é˜Ÿä¼åç§°	    æ˜µç§°    	ç¼–å·
0	1	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	å±±æ«å¶çº·é£	5
1	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	è”¡	        6
2	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	å®‰æ…•å¸Œ	    7
3	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	ä¿¡ä»°	    8
4	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	biubiuğŸ™ˆğŸ™ˆ	20
...	...	    ...	        ...	        ...
141	0	    ä¸ƒæ˜Ÿè”ç›Ÿ	    Daisy	    63
142	0	    ä¸ƒæ˜Ÿè”ç›Ÿ    	One Better	131
143	0	    ä¸ƒæ˜Ÿè”ç›Ÿ    	rain	    112
144	1	    åº”å¦‚æ˜¯	    æ€æ— é‚ª	    54
145	0	    åº”å¦‚æ˜¯	    Justzer0	58

In [35]:
student = pd.read_excel('ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandas).xlsx')
student.head()

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandasæ•°æ®åˆ†æ,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pandasæ•°æ®åˆ†æ,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,Pandasæ•°æ®åˆ†æ,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

In [36]:
# columnsæŸ¥çœ‹
student.columns

Index(['æ‰€åœ¨ç¾¤', 'é˜Ÿä¼åç§°', 'é˜Ÿé•¿ç¼–å·', 'é˜Ÿé•¿_ç¾¤æ˜µç§°', 'é˜Ÿå‘˜1 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°', 'é˜Ÿå‘˜2 ç¼–å·',
       'é˜Ÿå‘˜_ç¾¤æ˜µç§°.1', 'é˜Ÿå‘˜3 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.2', 'é˜Ÿå‘˜4 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.3', 'é˜Ÿå‘˜5 ç¼–å·',
       'é˜Ÿå‘˜_ç¾¤æ˜µç§°.4', 'é˜Ÿå‘˜6 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.5', 'é˜Ÿå‘˜7 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.6', 'é˜Ÿå‘˜8 ç¼–å·',
       'é˜Ÿå‘˜_ç¾¤æ˜µç§°.7', 'é˜Ÿå‘˜9 ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.8', 'é˜Ÿå‘˜10ç¼–å·', 'é˜Ÿå‘˜_ç¾¤æ˜µç§°.9'],
      dtype='object')

 ### step1. æ•°æ®é¢„å¤„ç†
 - å­—æ®µæ‰€åœ¨ç¾¤å¯ä»¥åˆ æ‰
 - é‡å‘½åå­—æ®µï¼Œé˜Ÿé•¿å’Œé˜Ÿå‘˜ä½¿ç”¨chiefå’ŒstaffåŒºåˆ†

In [37]:
student.drop(columns = ['æ‰€åœ¨ç¾¤', ], inplace = True)
student.head(3)

,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,é˜Ÿå‘˜4 ç¼–å·,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
chief = np.array(['é˜Ÿä¼åç§°','ç¼–å·_chief','æ˜µç§°_chief'])
staff = np.array([[f'ç¼–å·_staff{i}', f'æ˜µç§°_staff{i}']for i in range(1,11)]).flatten()
student.columns = np.r_[chief, staff]
student.head()

,é˜Ÿä¼åç§°,ç¼–å·_chief,æ˜µç§°_chief,ç¼–å·_staff1,æ˜µç§°_staff1,ç¼–å·_staff2,æ˜µç§°_staff2,ç¼–å·_staff3,æ˜µç§°_staff3,ç¼–å·_staff4,...,ç¼–å·_staff6,æ˜µç§°_staff6,ç¼–å·_staff7,æ˜µç§°_staff7,ç¼–å·_staff8,æ˜µç§°_staff8,ç¼–å·_staff9,æ˜µç§°_staff9,ç¼–å·_staff10,æ˜µç§°_staff10
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,82.0,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,45.0,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,19.0,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

 ### step2. ä½¿ç”¨wide_to_longå°†é•¿è¡¨è½¬å®½è¡¨

In [48]:
solution = pd.wide_to_long(student.reset_index(),
                          stubnames = ['æ˜µç§°','ç¼–å·'],
                          i = ['index','é˜Ÿä¼åç§°'],
                          j = 'æ˜¯å¦é˜Ÿé•¿',
                           sep = '_',
                          suffix = '.+').dropna().reset_index().drop(columns='index' )
solution.head(8)

     é˜Ÿä¼åç§°    æ˜¯å¦é˜Ÿé•¿        æ˜µç§°     ç¼–å·
0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ   chief    å±±æ«å¶çº·é£     5.0
1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  staff1        è”¡     6.0
2  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  staff2      å®‰æ…•å¸Œ     7.0
3  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  staff3        ä¿¡ä»°    8.0
4  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  staff4  biubiuğŸ™ˆğŸ™ˆ   20.0
5     ç†ŠçŒ«äºº   chief       é±¼å‘²å‘²  175.0
6     ç†ŠçŒ«äºº  staff1    Heaven   44.0
7     ç†ŠçŒ«äºº  staff2        å•é’   37.0

In [49]:
solution['æ˜¯å¦é˜Ÿé•¿'] = solution['æ˜¯å¦é˜Ÿé•¿'].apply(lambda x: 1 if x == 'chief' else 0)
solution.head(10)

     é˜Ÿä¼åç§°  æ˜¯å¦é˜Ÿé•¿        æ˜µç§°     ç¼–å·
0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     1    å±±æ«å¶çº·é£     5.0
1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        è”¡     6.0
2  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0      å®‰æ…•å¸Œ     7.0
3  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        ä¿¡ä»°    8.0
4  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0  biubiuğŸ™ˆğŸ™ˆ   20.0
5     ç†ŠçŒ«äºº     1       é±¼å‘²å‘²  175.0
6     ç†ŠçŒ«äºº     0    Heaven   44.0
7     ç†ŠçŒ«äºº     0        å•é’   37.0
8     ç†ŠçŒ«äºº     0      ä½™æŸ³æˆè«   50.0
9     ç†ŠçŒ«äºº     0     Kuroe   82.0

In [50]:
solution['ç¼–å·'] = solution['ç¼–å·'].astype('int8')
solution.reindex(columns=['æ˜¯å¦é˜Ÿé•¿','é˜Ÿä¼åç§°','æ˜µç§°','ç¼–å·'])
solution.head()

     é˜Ÿä¼åç§°  æ˜¯å¦é˜Ÿé•¿        æ˜µç§°  ç¼–å·
0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     1    å±±æ«å¶çº·é£    5
1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        è”¡    6
2  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0      å®‰æ…•å¸Œ    7
3  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        ä¿¡ä»°   8
4  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0  biubiuğŸ™ˆğŸ™ˆ  20

## ã€ä»»åŠ¡ä¸‰ã€‘ç¾å›½å¤§é€‰æŠ•ç¥¨æƒ…å†µ

ã€é¢˜ç›®æè¿°ã€‘ä¸¤å¼ æ•°æ®è¡¨ä¸­åˆ†åˆ«ç»™å‡ºäº†ç¾å›½å„å¿ï¼ˆcountyï¼‰çš„äººå£æ•°ä»¥åŠå¤§é€‰çš„æŠ•ç¥¨æƒ…å†µï¼Œè¯·è§£å†³ä»¥ä¸‹é—®é¢˜ï¼š

æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ
æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°